body
{
    background-color: black;
    color: red;
}

.cabecalho
{
    background-color: orangered;
    color: blueviolet;
    font-size: 10px;
    height: 100px;
    text-align: center;
}

.corpo
{
    background-color: chartreuse;
    color: brown;
    font-size: 10px;
    height: 700px;
    text-align: center;
}

.rodape
{
    background-color: aqua;
    color: crimson;
    font-size: 70px;
    height: 150px;
}