body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.container {
    background-color: darkgray;
    margin: 0 20%;
    height: 800px;
    max-width: 1100px;
    text-align: center;
}

.sec-1 {
    background-color: cornflowerblue;
    color: darkblue;
    font-size: 2em;
    padding: 5%;
}