body {
  background-color: #3b3b3b;
  color: white;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: min-content;
  background-color: black;
  padding: 30px;
  border-radius: 16px;
}